.body-index{
    margin-top: 80px;
    background-color: #000000;

}
.body-error{
    margin-top: 80px;
}

.body-acercaDeNostros{
    margin-top: 80px;
    background-color: #000000;
}

#tituloPeliculas{
    color: #FAFDFF;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(18,121,214,1) 100%);
}

#tituloSeries{
    color: #FAFDFF;
    background: rgb(18,121,214);
background: linear-gradient(90deg, rgba(18,121,214,1) 0%, rgba(67,71,74,1) 100%);
}

#tituloAccion{
    color: #FAFDFF;
    background: rgb(67,71,74);
background: linear-gradient(90deg, rgba(67,71,74,1) 0%, rgba(12,45,69,1) 100%);
}

#tituloComedia{
    background: rgb(12,45,69);
background: linear-gradient(90deg, rgba(12,45,69,1) 0%, rgba(250,253,255,1) 100%);
}

#tituloDrama{
    background: rgb(250,253,255);
background: linear-gradient(90deg, rgba(250,253,255,1) 0%, rgba(18,121,214,1) 100%);
   
}

#tituloInfantil{
    color: #FAFDFF;
    background: rgb(18,121,214);
background: linear-gradient(90deg, rgba(18,121,214,1) 0%, rgba(0,0,0,1) 100%);
}

.paralelogramo {
    width: 98%; 
    border: none; 
    border-radius: 2px;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
}

.tituloh3{
    color: aliceblue;
    margin: 10px;
}

.modal-content{
    border: 1px solid #1279d6;
}

.modal-header{
    border-bottom: none;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(18,121,214,1) 100%);
}

.modal-body{
    background-color: black!important;
    border-radius: 0 0 3px 3px;
}

.btn-outline-primary{
    color: #1279d6!important;
    border-color: #1279d6!important;
}

.btn-outline-primary:hover{
    color: #FAFDFF!important;
    border-color: #1279d6!important;
    background-color: #1279d6!important;
}

.card{
    color: #FAFDFF!important;
    background-color: #43474A!important;
}

nav{
    background: rgb(0,0,0);
background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(67,71,77,1) 50%, rgba(12,45,69,1) 100%);
} 
footer{
    color: #1279d6;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(67,71,77,1) 50%, rgba(12,45,69,1) 100%);
}


.titulo-informacion-series{
    background-color: #1279D6!important;
    color: #FAFDFF;
    border-radius: 5px;
}

.cuerpoinfoseries{
    margin-top: 80px;
    background-color: #000000;
}

.bg-dark{
    background-color: #43474A!important;
}

.icoLinkI:hover{
    transform: scale(1.3);
}

.cardGrow { transition: all .2s ease-in-out; }
.cardGrow:hover { transform: scale(1.1); }
.section-acercaDeNos{
    color: aliceblue;}

.card-acercaDeNos{
    background-color: #36096d;
background-image: linear-gradient(0deg, #1d437a 0%, #0c97a1 74%);}

.card-form{
    background: rgb(67,71,74);
background: linear-gradient(270deg, rgba(67,71,74,1) 0%, rgba(12,45,69,1) 100%);
}
