#cuerpo-pagina{
    background-color: #0C2D45;

}

h1{
    color: aliceblue;
}

h3{
    color: aliceblue;
    margin: 10px;
}


#navbar{
    background-color: #1279D6 !important;
}

#footer{
    background-color: #1279D6 !important;
}
